.selected {
    background-color: azure;
}

.autospoon {
    display: grid;
    /*grid-template-columns: min-content 1fr;*/
    grid-template: "groups results results" "lists edit-list edit-item" "footer footer footer" / min-content min-content 1fr;
}

.autospoon>div {
    border-bottom: 1px solid black;
}

.lists {
    white-space: nowrap;
    overflow-x: auto;
    grid-area: lists;
}

.list {
    white-space: nowrap;
    overflow-x: auto;
    grid-area: edit-list;
}

.list p {
    display: inline-block;
}

.groups {
    grid-area: groups;
}

.group {
    grid-area: results;
    white-space: nowrap;
    overflow-x: auto;
}

.group p {
    display: inline-block;
}

.edit-item {
    grid-area: edit-item;
}

.image img {
    height: 400px;
}

.footer {
    grid-area: footer;
    white-space: nowrap;
    overflow-x: auto;
}